name: lint and build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: install dependencies
      run: sudo apt-get install libasound2-dev libudev-dev
    - uses: actions/checkout@v3
    - name: clippy
      run: cargo clippy
    - name: build
      run: cargo build --verbose
    - name: run tests
      run: cargo test --verbose
